.screen {
    height: 300px;
    width: 225px;
}

.grid-numbr {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

.grid-opert {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.grid-funct {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
}

#container-numbr {
    float: left;
    height: 100%;
    width: 60%;
}

#container-opert {
    float: right;
    float: top;
    height: 50%;
    width: 40%;
}

#container-funct {
    float: right;
    float: bottom;
    height: 50%;
    width: 40%;
}

.fit {
    height: 100%;
    width: 100%;
}