.screen{
    height: 300px;
    width: 225px;
}

  .grid-container{
    display: grid;

    grid-template-columns: 20% 20% 20% 20% 20% ;
    grid-template-rows: 25% 25% 25% 25%;

    grid-template-areas:
    'numbr numbr numbr opert opert'
    'numbr numbr numbr opert opert'
    'numbr numbr numbr funct funct'
    'numbr numbr empty funct funct';

    align-items: center;
    justify-items: center;
} 

.item-numbr { grid-area: numbr; }
.item-opert { grid-area: opert; }
.item-empty { grid-area: empty; }
.item-funct { grid-area: funct; } 

.fit { 
    height: 100%;
    width: 100%;
}

